@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.slider {
    width: 70vw;
    padding: 0 0 50px 0;
    height: min-content;
    @include breakpoint-3 {
        width: 70vw;
    }
    .position-slider {
        display: block;
        .slider-container {
            margin: 0 30px;
            height: auto;
            .cards-container {
                height: min-content;
                display: flex;
                flex-direction: row;
                grid-gap: 30px;
            }
        }
        .button-slider, 
        .button-slider:hover, 
        .button-slider:visited {
            color: $info-color;
            width: 40px;
            height: 40px;
            cursor: pointer;
            opacity: 1;
        }
    }
}