@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.grid-container {
    display: block; 
    width: 90%;
    padding: 30px 10px;
    @include breakpoint-2 {
        width: 70%;
    }
    // @include breakpoint-4 {
    //     width: 70%;
    // }
    .grid-collaborators {
        display: grid;
        margin: auto;
        padding: 0;
        
        @include breakpoint-1 {
            grid-gap: 20px;
            grid-template-columns: repeat(5, 1fr);
        }
        @include breakpoint-2 {
            grid-gap: 30px;
        }
        .logo-collab-item {
            display: flex;
            align-items: center;
            justify-content: center; 
        }
        .logo-collab {
            color: $white; 
            max-width: 90%;
            @include breakpoint-4 {
                max-width: 90px;
            }
        }      
    }    
}