@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#inversion {
    .title-section-center {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .cards-grid {
        border-color: transparent;
        max-width: 1300px;
        padding: 0;
        width: 90%;
        @include breakpoint-3 {
            align-items: center;
            box-sizing: content-box;
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            margin-top: 55px;
            width: 70%;
        }
        .card-item {
            padding-top: 15px;
            width: 100%;
        }
    }

    .investment-content {
        width: 70%;
        // padding: 0 30px;
        .investment-text {
           font-weight: bold;
       }
       .investment-list > li {
           list-style: disc;
       }
    }


    .banner-container-inscription {
        width: 100vw;
        height: 350px;
    }
    .banner-inscription {
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
        min-height: 100%;
        @include breakpoint-1 {
            background-position-x: -150px;
        }
        @include breakpoint-3 {
            background-position-x: center;
        }
        .banner-text {
            color: $white;
            font-family: $title-font;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: $title-l;
            text-align: center;
            @include breakpoint-4 {
                font-size: 90px;
                margin: 50px;
            }
        }
    }
}
